.questions {
  max-width: 800px;
  font-size: 14pt;
  background-color: rgb(184, 214, 199);
  padding: 15px;
}

.bg-color-continue{
  background-color: rgb(214, 211, 184);
}

.bg-color-finish{
  background-color: rgb(184, 214, 199);
}
.answers {
  display: flex;
  flex-direction: column;
}

.questions button {
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}