body {
    padding: 10px;
}

h1 {
    font-size: 40px;
}

.first {
    font-size: 35px;
    text-decoration: underline;
    color: grey;
}

.second {
    color: darkgrey;
}

span {
    font-weight: bold;
}

.third {
    color: gray;
    font-size: 35px;
    font-weight: bold;
    padding-left: 0;
}

.last {
    color: red;
    font-size: 15px;
    text-align: center;
}