table{
    margin-top: 52px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 5px;
}

th{
    color: #fef1e2;
    background-color: #12042a;
    border-color: #fef1e2;
}

.filters{
    top: 0;
    padding: 15px;
    position: fixed;
    background-color: beige;
}

#hp-characters-table-fav td{
    background-color: rgb(172, 102, 102);
    color: rgb(25, 20, 20);
}