html{
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100vh;
    width: 100vh;
    background: rgb(170, 93, 93);
    color: #fff;
}

main{
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
   
}

#button {
    background: rgb(170, 172, 55);
    color: rgb(255, 255, 255);
    font-size: 24px;
    width: 200px;
}