.square{
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 0;
    margin: 1px;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
}

.board-row{
    display: flex;
}
